/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-gen-2017, 10.23.57
    Author     : tss
*/

td {width: 100px; height: 100px;}
.rosso{background: red;}
#giallo{background: yellow; }
body{background-color: aqua }
table{background-color: gray;
      border-spacing: 10px 50px;
      border: dotted 30px blue; }